ProyectoServiciosWeb/Service References/WSEditorialService/WSEjemplarService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBiblioteca" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBiblioteca" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WSEjemplar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumPaginas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSEjemplar" nillable="true" type="tns:WSEjemplar" />
  <xs:complexType name="ArrayOfWSEjemplar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WSEjemplar" nillable="true" type="tns:WSEjemplar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWSEjemplar" nillable="true" type="tns:ArrayOfWSEjemplar" />
</xs:schema>