ProyectoServiciosWeb/Service References/WSEditorialService/WSEjemplarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSEjemplarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54473/WSEjemplarService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54473/WSEjemplarService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54473/WSEjemplarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBiblioteca" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSEjemplarService_getEjemplarById_InputMessage">
    <wsdl:part name="parameters" element="tns:getEjemplarById" />
  </wsdl:message>
  <wsdl:message name="IWSEjemplarService_getEjemplarById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEjemplarByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEjemplarService_getAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="IWSEjemplarService_getAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEjemplarService_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IWSEjemplarService_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEjemplarService_create_InputMessage">
    <wsdl:part name="parameters" element="tns:create" />
  </wsdl:message>
  <wsdl:message name="IWSEjemplarService_create_OutputMessage">
    <wsdl:part name="parameters" element="tns:createResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEjemplarService_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IWSEjemplarService_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSEjemplarService">
    <wsdl:operation name="getEjemplarById">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEjemplarService/getEjemplarById" message="tns:IWSEjemplarService_getEjemplarById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEjemplarService/getEjemplarByIdResponse" message="tns:IWSEjemplarService_getEjemplarById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEjemplarService/getAll" message="tns:IWSEjemplarService_getAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEjemplarService/getAllResponse" message="tns:IWSEjemplarService_getAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEjemplarService/delete" message="tns:IWSEjemplarService_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEjemplarService/deleteResponse" message="tns:IWSEjemplarService_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEjemplarService/create" message="tns:IWSEjemplarService_create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEjemplarService/createResponse" message="tns:IWSEjemplarService_create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEjemplarService/update" message="tns:IWSEjemplarService_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEjemplarService/updateResponse" message="tns:IWSEjemplarService_update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSEjemplarService" type="tns:IWSEjemplarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEjemplarById">
      <soap:operation soapAction="http://tempuri.org/IWSEjemplarService/getEjemplarById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://tempuri.org/IWSEjemplarService/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IWSEjemplarService/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://tempuri.org/IWSEjemplarService/create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/IWSEjemplarService/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEjemplarService">
    <wsdl:port name="BasicHttpBinding_IWSEjemplarService" binding="tns:BasicHttpBinding_IWSEjemplarService">
      <soap:address location="http://localhost:54473/WSEjemplarService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>