ProyectoServiciosWeb/Service References/WSEjemplarService/WSEjemplarService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54473/WSEjemplarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBiblioteca" />
  <xs:element name="getEjemplarById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEjemplar" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEjemplarByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfBiblioteca" minOccurs="0" name="getEjemplarByIdResult" nillable="true" type="q1:WSEjemplar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfBiblioteca" minOccurs="0" name="getAllResult" nillable="true" type="q2:ArrayOfWSEjemplar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfBiblioteca" minOccurs="0" name="ejemplar" nillable="true" type="q3:WSEjemplar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfBiblioteca" minOccurs="0" name="ejemplar" nillable="true" type="q4:WSEjemplar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>